/* STILIZZAZIONE GENERALE */
* {font-family: 'Roboto', sans-serif;}

body {width: 70%; margin: 0 auto}
h1 {font-size: 30px; margin: 10px 0 5px 0 }
h4 {margin: 0}
a {text-decoration: none; color: #20a9e5}
p {margin: 0}
.utility {background-color: yellow}


/* STILIZZAZIONE HEADER */
header {
    height: 100px; 
    width: 100%; 
    margin: 0 auto;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    background-size: 380px;
}

#logo {
    height: 50px; 
    padding-top: 50px; 
    padding-left: 1px;
}

/* STILIZZAZIONE TIM IMG */

.img_conteiner {margin-top: 15px}
.img_conteiner img {height: 330px}
.img_conteiner p {font-size: 10px}


/* STILIZZAZIONE PARAGRAPH */
#paragraph {margin-top: 35px}
#paragraph p {font-size: 14px}

/* STILIZZAZIONE LISTA */
#list {margin-top: 35px}
#list li {font-size: 14px}

/* STILIZZAZIONE TABELLA */
#table {margin-top: 35px}

table {
        width: 100%;
        text-align: left;
        border-collapse: collapse}

thead {
        background-color: #20a9e5; 
        color: white;
}

.color {background-color: #b1e5f2}